doctype html
| .
head
  title= title
h1 Tralee Talent Event
br
h2 Events Registration
br
p
  | Select and register on the event you want to attend
br

app-events Loading


block scripts 
  script(src='/build/runtime.23a3ddd7ef4ebdb2.js')
  script(src='/build/polyfills.d9946f31cba37647.js')
  script(src='/build/main.18c7585cda16fdf9.js')
