head
  title
    |  #{title}
h1 Tralee Talent Event
br
h2 Log in
br
p
  | Log into the system to access rhe list of events to be attended
br
table
  tr
    td E-mail: 
    td
      input(type='text', title='email')
  tr
    td Password: 
    td
      input(type='password', title='password')
br
input(type='submit', value='Log in')
| &quot;
